@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --bg-clr:#08070B;
    --clr-gray: #817D92;
    --dark-gray:#24232C;

}
body{
    font-family: "JetBrains Mono", monospace;
    background-color: var(--bg-clr);
    height: 100vh;
}
.title-container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: var(--clr-gray);
}
header{
    margin:0 auto;
    width: 30%;
    height: 80px;
    background-color: var(--dark-gray);
}