@use 'header';
$clr-green:#A4FFAF;
@mixin setFontWeight(){
    font-weight: 800;
}
.options-container{
    width: 30%;
    height: 528px;
    padding: 0 20px;
    display: flex;
    gap:30px;
    align-items: flex-start;
    flex-direction: column;
    @extend %background-class;
    .input-label{
        width: 100%;
        padding: 10px 30px;
        @include header.centerDiv();
        .Characters-length-title{
            @include header.setColor(header.$almost-white);
        }
        .Characters-length{
            font-size: 32px;
            @include header.setColor($clr-green);
        }
    };
    #input-range{
        accent-color: $clr-green;
        width: 95%;
    }
    .password-content-options{
        display: grid;
        gap:10px;
        @include header.setColor(header.$almost-white);
        @include setFontWeight();
    }
}